<style>
a {
  text-decoration: none;
  font-weight: none;
  border: none;
} 
a:link{
  text-decoration: none;
  font-weight: none;
  border: none;
} 
a:visited {
  text-decoration: none;
  color: black;
} 
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
a:active{
  text-decoration: none;
}
#header .container{
  margin: auto;
}

#header h1 {
    display: block;
    font-size: 65px;
    text-align: center;
    font-family: Franklin Gothic Medium;
    color: white;
}

#footer .container{
  margin: auto;
}

#footer h4 {
    display: block;
    text-align: center; 
    font-family: Verdana;
    color: white;   
}

td {
  text-align: right; 
}
   
#header {
    background-color: #0e246a;
}

#footer {
    background-color: #0e246a;
}

</style>