<style>
a {
  text-decoration: none;
  font-weight: none;
  border: none;
} 
a:link{
  text-decoration: none;
  font-weight: none;
  border: none;
} 
a:visited {
  text-decoration: none;
  color: green;
} 
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
a:active{
  text-decoration: none;
}
#header .container{
  margin: auto;
}

#header h1 {
    display:block;
    text-align: center;
    font-family: 'Tahoma';
}

#footer .container{
  margin: auto;
}

#footer h4 {
    display:block;
    text-align: center;    
}

td {
  text-align: right; 
}

</style>